node_modules
.DS_Store
dist
dist-ssr
dev-dist
*.local
.env
.env.*
!.env.example
ahmad-site.env
backend/ahmad-site.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
backend/vendor
backend/vendor.zip
backend/.env
backend/storage/*.key
backend/database/database.sqlite
frontend
report